.wrapper_blog {
  padding: 5% 10% 7%;
  margin-top: -5%;
  background-color: #f4f4f4;
}
.wrapper_blog h2 {
  font-size: 3rem;
  letter-spacing: -2px;
  color: #1f1f1f;
  font-family: "Proxima Nova";
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.wrapper_blog p {
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  color: #000000;
  font-family: "Proxima Nova";
  text-align: center;
  margin-top: 0;
  margin-bottom: 10%;
}
.blog {
  display: flex;
  flex-wrap: wrap;
}
.background_one {
  width: 50%;
  background: url(../img/blog/blog_background_1.png) no-repeat;
  background-size: cover;
}
.subblock_one {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.subblock_one p{
  padding: 35% 10%;
  background: url(../img/blog/Shape_blog.png) no-repeat 50% 80%;
  text-decoration: none;
  font-size: 1.125rem;
  letter-spacing: -0.0625rem;
  line-height: 1.375rem;
  color: #000000;
  font-family: "Proxima Nova";
  font-weight: bold;
  text-align: center;
}
.description_blog {
  width: 50%;
  background-color: #ffffff;
  position: relative;
  display: block;
  text-decoration: none;
  outline: none;
}
.description_blog::before{
  content: "";
  position: absolute;
  right: -18px;
  top: 45%;
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
}
.description_blog_reverse{
  width: 50%;
  background-color: #ffffff;
  position: relative;
  display: block;
  text-decoration: none;
  outline: none;
}
.description_blog_reverse::before{
  content: "";
  position: absolute;
  left: -18px;
  top: 45%;
  border: 10px solid transparent;
  border-right: 10px solid #ffffff;
}
.description_blog:hover{
  background-color: #6ff6eb;
}
.description_blog:hover::before{
  border-left: 10px solid #6ff6eb;
}
.description_blog_reverse:hover{
  background-color: #6ff6eb;
}
.description_blog_reverse:hover::before{
  border-right: 10px solid #6ff6eb;
}
@mixin backgroundBlog {
  width: 50%; 
  background-size: cover;
}
.background_one_subblock_one{
  background: url(../img/blog/img_blog_11.png) no-repeat;
  @include backgroundBlog;
}
.background_one_subblock_two{
  background: url(../img/blog/img_blog_12.png) no-repeat;
  @include backgroundBlog;
}
.background_two{
  background: url(../img/blog/blog_background_2.png) no-repeat;
  @include backgroundBlog;
}
.background_two_subblock_one{
  background: url(../img/blog/img_blog_21.png) no-repeat;
  @include backgroundBlog;
}
.background_two_subblock_two{
  background: url(../img/blog/img_blog_22.png) no-repeat;
  @include backgroundBlog;
}
.background_three{
  background: url(../img/blog/blog_background_3.png) no-repeat;
  @include backgroundBlog;
}
.background_three_subblock_one{
  background: url(../img/blog/img_blog_31.png) no-repeat;
  @include backgroundBlog;
}
.background_three_subblock_two{
  background: url(../img/blog/img_blog_32.png) no-repeat;
  @include backgroundBlog;
}
.background_four{
  background: url(../img/blog/blog_background_4.png) no-repeat;
  @include backgroundBlog;
}
.background_four_subblock_one{
  background: url(../img/blog/img_blog_41.png) no-repeat;
  @include backgroundBlog;
}
.background_four_subblock_two{
  background: url(../img/blog/img_blog_42.png) no-repeat;
  @include backgroundBlog;
}
.wrapper_button{
  display: flex;
  justify-content: center;
  margin-top: 9%;
}
.wrapper_blog button{
  font-size: 0.75rem;
  letter-spacing: 0rem;
  color: #000000;
  font-family: "Proxima Nova";
  font-weight: bold;
  padding: 1rem 3rem;
  cursor: pointer;
  border: 0.125rem solid #878787;
}
.wrapper_blog button:hover{
  background-color: #6ff6eb;
}