@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/Proxima_Nova.ttf) format("truetype");
}

html{
  font-size: 16px;
}
body{
  margin: 0;
}

@import "header";
@import "collection";
@import "from_the_blog";